:root{
    --light-color: #fff;
    --secondary-full-color: #080b1477;
    --secondary-color: #171b23bd;
    --success-full-color: #71879B;
    --smoking-color: #34333dc5;
}


::-webkit-scrollbar{
    height: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #808080; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--smoking-color); 
    border-radius: 10px;
  }

  button, input{
    border: none;
    background: transparent;
    outline: none;
}
