.weather__daily-wrapper{
    max-width: 668px !important;
    padding: 1rem;
    border-radius: 10px;
}
.hourly-wrapper, .daily-wrapper{
    width: 100% !important;
    border-radius: 10px;
    background-color: var(--secondary-color);
    padding: 0.8rem;
}
.daily-wrapper{
    margin-top: 10px !important;
}
.hourly__wrapper-header, .daily__wrapper-header{
    max-width: 660px;    
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--success-full-color);
    span{
        color: var(--success-full-color);
    }
    h3{
        @include f-style(19px, var(--success-full-color), 500)
    }

}

.hourly__weather-container, .daily__weather-container{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    overflow-x: auto !important;
    margin-top: 20px;
    height: 140px;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100px;
        height: 110px;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
        p{
            font-size: 15px !important;
            display: inline-block;
            color: var(--light-color);
            letter-spacing: .5px;
            margin-bottom: 20px;
            opacity: 0.8;
        }
        h4{
            display: inline-block;
            margin-bottom: 7px ;
            font-size: 20px;
            font-weight: 500;
            color: var(--light-color);
        }
        img{

            width: 60px;
            aspect-ratio: 1/1;
        }
    }
}


#map{
    border-radius: 10px;
    height: 200px !important;
}

.map-wrapper{
    margin-top:10px;
    background-color: #fff;
    border-radius: 10px;
}



@media only screen and (max-width: 1130px){
    .weather__daily-wrapper{
        width: 100%;
        max-width: 600px !important;
    }
    .hourly__weather-container, .daily__weather-container{
        column-gap: 20px;
        margin-top: 20px;
        height: 140px;
        div{
            width: 100%;
            max-width: 50px;
            height: 110px;
            p{
                font-size: 14px !important;
                display: inline-block;
                margin-bottom: 20px;
            }
            h4{
                margin-bottom: 7px ;
                font-size: 18px;
                font-weight: 500;
            }
            img{
    
                width: 55px;
                aspect-ratio: 1/1;
            }
        }
    }
}


@media only screen and (max-width: 568px){
    .weather__daily-wrapper{
        max-width: 555px !important;
    }
    .hourly__wrapper-header, .daily__wrapper-header{
        max-width: 550px;    
        column-gap: 10px;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--success-full-color);
        span{
            font-size: 19px;
            color: var(--success-full-color);
        }
        h3{
            @include f-style(16px, var(--success-full-color), 500)
        }
    
    }
    .hourly__weather-container, .daily__weather-container{
        height: 130px;
        div{
            max-width: 45px;
            height: 110px;
            p{
                font-size: 13px !important;
                display: inline-block;
                margin-bottom: 20px;
            }
            h4{
                margin-bottom: 7px ;
                font-size: 16px;
                font-weight: 500;
            }
            img{
    
                width: 50px;
            }
        }
    }
    #map{
        height: 180px !important;
    }
}

@media only screen and (max-width: 458px){
    .weather__daily-wrapper{
        max-width: 450px !important;
    }
    .hourly__wrapper-header, .daily__wrapper-header{
        max-width: 440px;    
        span{
            font-size: 18px;
            color: var(--success-full-color);
        }
        h3{
            @include f-style(14px, var(--success-full-color), 500)
        }
    
    }
    .hourly__weather-container, .daily__weather-container{
        height: 130px;
        overflow: hidden;
        div{
            max-width: 40px;
            height: 130px;
            p{
                font-size: 12px !important;
            }
            h4{
                font-size: 14px;
            }
            img{
                width: 50px;
            }
        }
    }
    #map{
        height: 150px !important;
    }
}
@media only screen and (max-width: 390px){
    #map{
        height: 140px !important;
    }
}