.weather__daily-wrapper{
    width: 700px;
    height: 670px;
    padding: 1rem;
    border-radius: 10px;
}
.hourly-wrapper, .daily-wrapper{
    width: 100%;
    height: 210px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    padding: 0.8rem;
}
.daily-wrapper{
    margin-top: 10px !important;
}
.hourly__wrapper-header, .daily__wrapper-header{
    width: 100%;    
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--success-full-color);
    span{
        color: var(--success-full-color);
    }
    h3{
        @include f-style(19px, var(--success-full-color), 500)
    }

}

.hourly__weather-container, .daily__weather-container{
    display: flex;
    align-items: center;
    column-gap: 20px;
    overflow-x: auto !important;
    margin-top: 20px;
    height: 140px;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100px;
        height: 110px;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
        p{
            font-size: 15px !important;
            display: inline-block;
            color: var(--light-color);
            letter-spacing: .5px;
            margin-bottom: 20px;
            opacity: 0.8;
        }
        h4{
            display: inline-block;
            margin-bottom: 7px ;
            font-size: 20px;
            font-weight: 500;
            color: var(--light-color);
        }
        img{

            width: 60px;
            aspect-ratio: 1/1;
        }
    }
}


#map{
    border-radius: 10px;
    height: 200px !important;
}

.map-wrapper{
    margin-top:10px;
    background-color: #fff;
    border-radius: 10px;
}

