.weather__output-wrapper{
    padding: 5px;
    max-width: 600px;
    border-radius: 10px;
    backdrop-filter: blur(2px) !important;
}

.weather__search-form{
    width: 100%;
    height: 46px;
    display: flex;
    padding: 0 10px;
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--smoking-color);
    .search-input{
        flex: 1;
        height: 100%;
        text-indent: 20px;
        @include f-style(16px, var(--light-color),500 );
    }
    button{
        span{
            cursor: pointer;
            @include f-style(26px, var(--light-color), 400 );
        }
    }
}

.current__weather-container{
    width: 100%;
    padding: 0.7rem;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--secondary-full-color);
}


.current__weather-country{
    width: 100%;
    #current__country-name{
        @include f-style(42px, var(--light-color), 700);
        line-height: 26px;
        letter-spacing: 1px;
    };
}

.current__weather-output{
    display: inline-block;
    text-align: center;
    padding: 0 0.8rem;
    margin-top: 50px;

    strong{
        @include f-style(22px, var(--light-color), 600);
        letter-spacing: 2px;
        font-style: italic;
        margin: 15px 0;
    }
    p{
        margin: auto;
        opacity: 0.8;
        max-width: 450px;
        min-height: 40px;
        margin-top: 20px !important;
        @include f-style(13px, var(--light-color), 400);
    }
}

.current__weather-info{
    display: flex;
    align-items: center;
    width: 400px !important;
    justify-content: center;
    margin: auto !important;
    h2{
        margin: 20px 0 0 30px !important;
        @include f-style(54px, var(--light-color), 600);
    }
    img{
        width: 95px;
        height: 90px;
        margin-top: 20px;
        object-fit: cover;
        display: inline-block;
    }
}



// CURRENT WEATHER ACTION STYLES
.current__action-container{
    display: grid;
    gap: 15px;
    margin-top: 40px;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.action-card{
    width: 270px;
    padding: 1rem;
    text-align: left;
    max-height: 135px;
    border-radius: 10px;
    background-color: var(--smoking-color);
    .card-temp{
        margin-top: 7px;
        letter-spacing: 1px;
        @include f-style(20px, var(--light-color), 600);
    }
    p{
        @include f-style(12px, var(--light-color), 400);
        margin-top: 18px;
        opacity: 0.7;
    }
    h6{
        opacity: 0.8;
        margin-top: 5px;
        letter-spacing: 1px;
        margin: 15px 0 5px 0 !important;
        @include f-style(13px, var(--light-color), 500);
    }
    strong{
        margin-top: 7px;
        letter-spacing: 2px;
        @include f-style(12px, var(--light-color), 400);
    }
}

.card-header{
    display: flex;
    column-gap: 8px;
    align-items: center;
    span{
        @include f-style(26px, var(--success-full-color), 400 );
    }
    h3{
        @include f-style(15px, var(--success-full-color), 500 );

    }
}